.button {
  font-size: var(--text-size-400);
  font-weight: 700;
  background-color: var(--paynes-gray);
  color: white;
  height: 2em;
  width: 4em;
  /* padding: 4px 2px; */
  /* padding-right: 1em; */
  border: 2px solid var(--safety-orange);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px var(--safety-orange);
  line-height: 1;
  text-align: start;
  transition: 500ms;
}

.button:hover {
  transform: rotateX(180deg);
}
