/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* TODO Look up if vars in this file can be picked up by components */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Colors */

:root {
  /* CSS HEX */
  --blue-gray: #5b9dd4ff;
  --gunmetal: #0f3445ff;
  --cadet-gray: #7e9a9aff;
  --paynes-gray: #467187ff;
  --safety-orange: #fe7801ff;

  /* CSS HSL */
  --blue-gray: hsla(207, 58%, 59%, 1);
  --gunmetal: hsla(199, 64%, 16%, 1);
  --cadet-gray: hsla(180, 12%, 55%, 1);
  --paynes-gray: hsla(200, 32%, 40%, 1);
  --safety-orange: hsla(28, 99%, 50%, 1);
}

/* Type Scale */

html {
  font-size: 87.5%;
}
body {
  --text-size-80: 0.694rem;
  --text-size-90: 0.833rem;
  --text-size-100: 1rem;
  --text-size-200: 1.2rem;
  --text-size-300: 1.44rem;
  --text-size-400: 1.728rem;
  --text-size-500: 2.074rem;
  --text-size-600: 2.488rem;
  --text-size-700: 2.986rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #222222;
  background: #f7f7f8;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.022em;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
small {
  font-size: var(--text-size-90);
}
h6,
.h6 {
  font-size: var(--text-size-200);
}
h5,
.h5 {
  font-size: var(--text-size-300);
}
h4,
.h4 {
  font-size: var(--text-size-400);
}
h3,
.h3 {
  font-size: var(--text-size-500);
}
h2,
.h2 {
  font-size: var(--text-size-600);
}
h1,
.h1 {
  font-size: var(--text-size-700);
}
.text-size-80 {
  font-size: var(--text-size-80);
}
.text-size-90 {
  font-size: var(--text-size-90);
}
.text-size-100 {
  font-size: var(--text-size-100);
}
.text-size-200 {
  font-size: var(--text-size-200);
}
.text-size-300 {
  font-size: var(--text-size-300);
}
.text-size-400 {
  font-size: var(--text-size-400);
}
.text-size-500 {
  font-size: var(--text-size-500);
}
.text-size-600 {
  font-size: var(--text-size-600);
}
.text-size-700 {
  font-size: var(--text-size-700);
}

@media screen and (min-width: 767px) {
  html {
    font-size: 100%;
  }
  body {
    --text-size-80: 0.694rem;
    --text-size-90: 0.833rem;
    --text-size-100: 1rem;
    --text-size-200: 1.2rem;
    --text-size-300: 1.44rem;
    --text-size-400: 1.728rem;
    --text-size-500: 2.074rem;
    --text-size-600: 2.488rem;
    --text-size-700: 2.986rem;
  }
}
